#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10%;
    padding-top: 100px;
    min-height: 100vh;
}

#heading {
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
}
