#container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 50px;
    border-bottom: 1px solid #85858555;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#logoImg {
    height: 40px;
    width: 40px;
}

#logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

#buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#linksContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}
